<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="sol-xs-12">
      <p id="notice"><%= notice %></p>
      <h3>Show Book</h3>
      <ul class="detail">
        <li><%= image_tag(@book.picture_url, width: '500') if @book.picture.present? %></li>
        <li>Title:<%= @book.title %></li>
        <li>Memo:<%= @book.memo %></li>
        <li>Author:<%= @book.author %></li>
      </ul>
      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-default btn-sm btn_black" %>
      <%= link_to 'Back', books_path, class: "btn btn-default btn-sm btn_black" %>
    </div>
  </div>
</div>

